javascript:
    const mp = new MercadoPago('#{ENV["MERCADOPAGO_PUBLIC_KEY"]}', {
        locale: 'pt-BR'
    });

    $checkout = mp.checkout({
        preference: {
            id: '#{preference_id}'
        }
    });
