- unless cart.cart_products.empty?
  = link_to "Finalizar Compra", checkout_cart_path, target: :_top,
          class: "w-full rounded bg-brand-500 text-white font-semibold py-2 text-center hover:bg-brand-600"
