= turbo_frame_tag "cart-total-price", class: "flex gap-3" do
  h3.text-2xl.font-medium.text-neutral-600.uppercase class="w-[120px]" total
  p.text-lg = number_to_currency cart.total_price_in_reais, locale: :'pt-BR'
